// _main.scss 
// this file contains non-abstract things

@use 'abstracts' as *;
@use 'base' as *;

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background: get('color.primary');
}

.container {
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: rem-calc(900px);

    @include bp(lg) {
        background: get('color.light');
    }
}

section, footer {
    background: get('color.light');
    display: block;
}