// _main.scss 
// this file contains non-abstract things

@use 'abstracts' as *;
@use 'base' as *;

* {
    box-sizing: border-box;
}

html {
    background-color: get('color.primary');
    background-image: url('../img/pattern.png');
    background-repeat: repeat; 
    background-size: 60%;

    @include bp(md) {
        background-size: 35%;
    }
}

html, body {
    height: 100%;
}

body {
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0)); 
}

.container {
    display: block;
    height: 100%;
    margin: 0 auto;
    max-width: rem-calc(900px);

    @include bp(lg) {
        background: get('color.light');
    }
}

section {
    background: get('color.light');
    display: block;
}

.about {
    margin: get('size.gap.4') 0;
    padding: rem-calc(60px 40px);

    @include bp(md) {
        margin: 0;
        padding: rem-calc(80px);
    }

    p {
        max-width: rem-calc(530px);
    }
}

.about-text {
    margin: get('size.mp.4') 0 get('size.mp.7') 0;
}

.work {
    margin-bottom: get('size.gap.4');
    padding: rem-calc(40px);

    @include bp(md) {
        margin: 0;
        padding: rem-calc(40px 80px);
    }
}