@use '../abstracts/' as *;

.work {
    display: grid;
    grid-gap: rem-calc(8px); 

    @include bp(sm) {
        grid-template-columns: 45% 10% 45%;
        grid-template-rows: rem-calc(240px 240px 240px 240px);
    }
}

.work-item {
    height: rem-calc(240px);

    @include bp(sm) {
        height: auto;
    }

    // junk 
    background: red;
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.wi-1 { 
    background-image: url('../img/work-gively.png');

    @include grid-child(1, 3, 1, 3); 
}

.wi-2 { 
    background-image: url('../img/work-gb-web.png');

    @include grid-child(3, 4, 1, 2); 
}

.wi-3 { 
    background-image: url('../img/work-music.png');

    @include grid-child(1, 3, 3, 4); 
}

.wi-4 { 
    background-image: url('../img/work-med.png');

    @include grid-child(3, 4, 2, 4); 
}

.wi-5 { 
    background-image: url('../img/work-gb.png');

    @include grid-child(1, 2, 4, 5); 
}

.wi-6 { 
    background-image: url('../img/work-gively-styleg.png');

    @include grid-child(2, 4, 4, 5); 
}