@use '../abstracts/' as *;

.btn {
    border: rem-calc(1px) solid get('color.dark');
    border-radius: rem-calc(4px);
    box-shadow: rem-calc(4px 5px 0px) get('color.dark');
    color: get('color.dark'); 
    display: block;
    font-weight: get('font.weight.black');
    letter-spacing: 0.1em;
    padding: rem-calc(12px 32px);
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    transition: all ease-in-out 0.1s;

    &:hover {
        background: get('color.primary');
        border-color: #000;
        box-shadow: rem-calc(6px 7px 0px) #000;
        color: #000;
        cursor: pointer;  
        // letter-spacing: 0.2em;
    }

    &:focus {
        border: rem-calc(2px) dashed get('color.dark');
        outline: none;
    }

    @include bp(sm) {
        display: inline;
    }
}

.btn-primary, .btn-secondary {
    @extend .btn; 
}

.btn-primary {
    background: get('color.secondary');
}

.btn-secondary {
    background: get('color.tertiary');
}  

.btn-group {
    .btn:last-child {
        margin-top: rem-calc(16px);
    }

    @include bp(sm) {
        .btn:first-child {
            margin-right: rem-calc(8px);
        }

        .btn:last-child {
            margin-top: 0;
        }
    }
}